.socials-container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container:hover {
  transform: scale(1.2) translateX(-10px);
}

.logo {
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border: solid 1px var(--primary);
  display: inline-block;
  margin-right: 5px;
  background-size: cover;
}

.git-logo {
  background-image: url('../../assets/images/git.png');
}
.codepen-logo {
  background-image: url('../../assets/images/codepen.png');
}
.linkedin-logo {
  background-image: url('../../assets/images/linkedin.png');
}

/* Note: repsonsive adjustment */
.logo + span {
  font-size: 0.9rem;
}

@media only screen and (min-width: 390px) {
  .logo + span {
    font-size: var(--fs-mobile);
  }
}
@media only screen and (min-width: 600px) {
  .logo + span {
    font-size: var(--fs-desktop);
  }
}

.contact-container {
  margin-top: 30px;
  padding: 20px 20px;
  background: var(--secondary);
}

.contact-entry {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-entry i {
  margin-right: 8px;
  display: inline-block;
}
