.profile-section {
  padding-top: calc(var(--header-height) + 15px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-section picture {
  width: 50%;
  display: flex;
  padding-right: 25px;
  align-content: center;
  justify-content: center;
}

.profile-section picture img {
  border-radius: 100% 100% 100% 100%;
  border: 1px solid var(--primary);
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
}

.profile-section div p {
  line-height: 2rem;
}

.icon {
  margin-right: 5px;
}
