.skills-container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.layer-container {
  margin-bottom: 5px;
  display: flex;
}
.first-layer {
  width: 100%;
}
.second-layer {
  width: 90%;
}
.third-layer {
  width: 80%;
}

.skills {
  text-align: center;
}
.skills-first-layer {
  width: 25%;
}
.skills-second-layer {
  width: 33.333%;
}
.skills-third-layer {
  width: 50%;
}

/* --Skilllink animation & styling-- */
.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.link div {
  width: 100%;
}

.link div svg {
  display: block;
  position: absolute;
  left: -100%;
  z-index: -1;
  top: 0;
  width: 100%;
  transform: translateX(var(--line-x)) translateZ(0);
  transition: transform var(--line-d, 0s) ease;
}

.link:hover {
  --line-d: var(--duration-line); /* set duration based on variable, make it snap back*/
  --line-x: 100%; /* move svg bg 100% to the right --> make it visible */
  color: inherit;
}
