@keyframes wave {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.wave {
  -webkit-animation: wave 2s infinite linear;
  -moz-animation: wave 2s infinite linear;
  -o-animation: wave 2s infinite linear;
  animation: wave 2s infinite linear;
  display: inline-block;
  width: fit-content;
  transform-origin: 50% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.logo-container:hover .rotate {
  -webkit-animation: rotate 4s infinite linear;
  -moz-animation: rotate 4s infinite linear;
  -o-animation: rotate 4s infinite linear;
  animation: rotate 4s infinite linear;
  transform-origin: center;
}
