@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --duration-line: .8s;
    --primary: #2E2E2E;
    --secondary: #E5E5E5;
    --bg: #F6F8FF;
    --hover: #81E070;
    --header-height: 60px;
    --fs-mobile: 1rem;
    --fs-desktop: 1.25rem;
}

/* =================
    GENERIC
================= */
/* generic styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg);
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

p,
a {
    font-size: var(--fs-mobile)
}


input, 
button, 
textarea {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    -webkit-transition: transform 0.3s ease-in-out, color 0.15s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, color 0.15s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, color 0.15s ease-in-out;
    transition: transform 0.3s ease-in-out, color 0.15s ease-in-out;
    transform-origin: left;
}

a:hover {
    color: var(--hover);
    transform: scale(1.2);
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 5px;
}
/* ... */

/* generic media queries */
@media only screen and (min-width: 600px) {
    p,
    a {
        font-size: var(--fs-desktop);
    }

}
/* generic class stylings */
.container {
    padding: 0 max(calc((100vw - 1300px) / 2 ), 10px);
    margin-bottom: 20px;
}

.image-fluid {
    width: auto;
    height: 100%;
  }

  a.anchor {
    display: block;
    position: relative;
    top: calc(var(--header-height) * -1);
    visibility: hidden;
  }

/* =================
    SECTIONS
================= */

/* Header */
header {
    background-color: var(--primary);
    color: var(--bg);
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 100;
}
header h1,
header nav
 {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-between;
}

.main-logo:hover {
    color:inherit;
}

/* Me Section */
.me-section {
    padding-top: calc(var(--header-height) + 15px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.me-section picture {
    width: 50%;
    height: 200px;
    padding-right:25px;
    overflow: hidden;
}

.me-section picture img {
    border-radius: 100% 100% 100% 100%;
    border: 1px solid var(--primary);
}

.me-section div p {
    line-height: 2rem;
}

.icon {
    margin-right: 5px;
}

/* Skills section */
/* --Skills structure-- */
.skills-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;  
}

.layer-container {
    margin-bottom: 5px;
    display: flex;
}
.first-layer {
    width: 100%;
}
.second-layer {
    width: 90%;
}
.third-layer {
    width: 80%;
}

.skills {
    text-align: center;
}
.skills-first-layer {
    width: 25%;
}
.skills-second-layer {
    width: 33.333%;
}
.skills-third-layer {
    width: 50%;
}

/* --Skills animation & styling-- */
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;  
    overflow: hidden;
}

.link div {
    width: 100%;
}

.link div svg {
    display: block;
    position: absolute;
    left: -100%;
    z-index: -1;
    top: 0;
    width: 100%;
    transform: translateX(var(--line-x)) translateZ(0);
    transition: transform var(--line-d, 0s) ease;
} 

.link:hover {
    --line-d: var(--duration-line);
    --line-x: 100%;
    color: inherit;
}

/* Bio Section */

.bio-section p {
    margin-bottom: 10px;
}

.bio-section p a {
    font-weight: 600;
}

/* Socials section */
.socials-container {
    display: flex;
}

.socials-container div{
    width: 33.333%;
    display: flex;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    border: solid 1px var(--primary);
    display: inline-block;
    margin-right: 5px;
    background-size: cover;
}

.git-logo {
    background-image: url("../assets/images/git.png");
}
.codepen-logo {
    background-image: url("../assets/images/codepen.png");
}
.linkedin-logo {
    background-image: url("../assets/images/linkedin.png");
}

.logo+span {
    font-size: 0.9rem;
}

@media only screen and (min-width: 390px) {
    .logo+span {
        font-size: var(--fs-mobile);
    }
}
@media only screen and (min-width: 600px) {
    .logo+span {
        font-size: var(--fs-desktop);
    }
}

.contact-container {
    margin-top: 30px;
    padding: 20px 20px;
    background: var(--secondary);
}

.contact-container div {
    margin-bottom: 10px;
}

.contact-entry {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contact-entry a i {
    margin-right: 8px;
    display: inline-block;
    transform: translate(0, 28%)
}

/* ============
    Keyframes
============ */
@keyframes wave {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}

.wave {
    -webkit-animation: wave 2s infinite linear;
    -moz-animation: wave 2s infinite linear;
    -o-animation: wave 2s infinite linear;
    animation: wave 2s infinite linear;
    display: inline-block;
    width:fit-content;
    transform-origin: bottom;
}